.bg_profile {
    /* background-color: red; */
    /* height: 80vh; */

}

.card_cm {
    /* width: 300px; */
    display: block;
    background-color: green;
    /* height: 300px; */
    border-radius: 10px;
    overflow: hidden;
}

.sideTwo {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 0.3s all ease;
}

.card_cm:hover .sideTwo {
    opacity: 0.9;
    cursor: pointer;
}